body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    scroll-behavior: smooth;
}

  .pradine {
    width: 100%;
    display: inline-block;
    background: white;
    /* padding-bottom: -40px;
    padding-top: 40px; */
    margin-top: 20px;
}


.container .about1 {
    display: inline-block;
    float: left;
    width: 40%;
    width: 350px;
    background-color: red;
    /* padding-bottom: 320px; */
    padding: 60px;
    transform: translateY(20px);
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    margin-right: 35px;
    border-radius: 30px;
}

.container .about1 h3 a {
    text-decoration: none;
    color: white;
}

.container .about1:hover {
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2px;

}

.container .about2 {
    display: inline-block;
    float: left;
    width: 40%;
    width: 350px;
    background-color: red;
    /* padding-bottom: 232px; */
    padding: 60px;
    transform: translateY(20px);
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    text-align: center;
    border-radius: 30px;
}

.container .about2 h3 a {
    text-decoration: none;
    color: white;
}

.container .about2:hover {
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2px;
}

.container .about3 {
    display: inline-block;
    float: right;
    /* jeigu du blokai, tai tada po 49% ploti */
    width: 40%;
    width: 350px;
    background-color: red;
    /* padding-bottom: 232px; */
    padding: 60px;
    /* translate reikia padaryti 0px */
    transform: translateY(20px);
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    border-radius: 30px;
}

.container .about3 h3 a {
    text-decoration: none;
    color: white;
}

.container .about3:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2px;
}

.container .about1 p {
    font-size: 15px;
}

.container .about2 p {
    font-size: 15px;
}


.container .about3 p {
    font-size: 15px;
}


/* .about .about-1 {
    display: inline-block;
    width: 50%;
    float: left;
    color: white; */
    /* --------------------- */
    /* height: 400px;
    width: 200px; */
/* } */

/* .about .about-2 {
    display: inline-block;
    width: 50%;
    float: right;
    color: white; */
    /* ----------------------- */
    /* height: 400px;
    width: 400px; */
   /* } */

.container {
        display: inline-block;
        width: 1200px;
        margin: 0 calc( ( 100% - 1200px) / 2);
        
}

.trecias {
    width: 100%;
    display: inline-block;
    background: white;
    /* padding-bottom: -40px;
    padding-top: 40px; */
    margin-top: 20px;
}

.trecias .container p {
    color: black;
}

.antras .container p {
    color: black;
}

 
        .pirmas {
            width: 100%;
            display: inline-block;
            background: black;
            /* padding-bottom: -40px;
            padding-top: 40px; */
            margin-top: 40px;
        }

.pirmas .container {
    /* background: blue; */
    /* width: 50%; */
    /* background-color: lime; */
    display: inline-block;
    margin-top: 40px;
    color: white;
    margin-bottom: 40px;
}

.pirmas .container img {
    max-width: 100%;
    height: auto;
}

.right {
    position: relative;
    text-align: center;
    color: white;
  }

  .left {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.antras .container {
    display: inline-block;
    margin-top: 60px;
}

.trecias .container {
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 60px;
}

.container .left {
    display: inline-block;
    width: 50%;
    float: left;
    padding-right: 40px;
    padding-left: 40px;
}

.container .right {
    display: inline-block;
    width: 50%;
    float: right;
    padding-left: 40px;
    padding-right: 40px;

}

.small-container {
    display: inline-block;
        /* width: 1000px; */
        margin: 0 calc( ( 100% - 1000px) / 2);
        text-align: center;
}

h1 {
    padding-top: 100px;
    padding-bottom: 50px;
    color: white;
    font-style: italic;
}

 h3 {
    color: white;
}

.btn {
    color: white;
}

.dropdown {
    display: none;
}

@media (max-width: 1300px) {
    .container {
        width: 900px;
        margin: 0 calc( ( 100% - 900px) / 2);
    }
        .container .about1 {
            width: calc(100% - 40px);
            transform: translateY(20px);
            /* margin: 0 auto; */
        }

        .container .about2 {
            width: calc(100% - 40px);
            transform: translateY(20px);
            /* margin: 0 auto; */
        }

        .container .about3 {
            width: calc(100% - 40px);
            transform: translateY(20px);
            /* margin: 0 auto; */
        }
        
        .dropdown .fa-bars {
            display: none;
        }
        footer .fa-chevron-up {

            display: none;
         }
    }
    


    @media (max-width: 1000px) {

        .container {
            display: inline-block;
            width: 700px;
            margin: 0 calc( (100% - 700px) / 2 );
        }
        .container > .left {
            display: inline-block;
            width: 100%;
        }
        .container > .right {
            display: inline-block;
            width: 100%;
            margin-left: 0;
            margin-top: 60px;
        }
        footer .fa-chevron-up {

           display: none;
        }
    
    }
       
        
            @media (max-width: 800px) {
                .small-container {
                    display: inline-block;
                    width: 500px;
                    margin: 0 calc( (100% - 500px) / 2 );
                 
                }
                .container {
                    display: inline-block;
                    width: 500px;
                    margin: 0 calc( (100% - 500px) / 2 );
                }
              
        }


        @media (max-width: 600px) {
            .small-container {
                width: calc(100% - 40px);
                margin-left: 20px;
                margin-right: 20px;
                
            }
            .container {
                width: calc(100% - 40px);
                margin-left: 20px;
                margin-right: 20px;
                
            }

            header img {
                margin-left: -10px;
            }
           
                
              nav {
                  display: none;
              }

            section .pirmas {
                width: calc(100% - 40px);
                margin-left: 20px;
                margin-right: 20px; 
            }

            /* .about {
                padding-bottom: 250px;
                padding-left: 0px;
                padding-right: 0px;
            } */

            .container .about1 {
                width: calc(100% - 40px);
                /* margin-left: 5px;
                margin-right: 5px;  */
                transform: translateY(20px);
                /* margin: 0 auto; */
                margin-left: 20px;
                margin-right: 20px;
                margin-bottom: 20px;
            }

            .container .about2 {
                width: calc(100% - 40px);
                /* margin-left: 5px;
                margin-right: 5px;  */
                transform: translateY(20px);
                /* margin: 0 auto; */
                margin-left: 20px;
                margin-right: 20px;
                margin-bottom: 20px;
            }

            .container .about3 {
                width: calc(100% - 40px);
                /* margin-left: 5px;
                margin-right: 5px;  */
                transform: translateY(20px);
                /* margin: 0 auto; */
                margin-left: 20px;
                margin-right: 20px;
            }

            .container .about1 p {
                font-size: 10px;
            }

            .container .about2 p {
                font-size: 10px;
            }

            .container .about3 p {
                font-size: 10px;
            }

            footer .fa-chevron-up {
                display: none;
            }

        .dropdown {
            position: relative;
            display: inline-block;
        }
    
    .dropdown .fa-bars {
        color: #fff;
        /* padding: 16px; */
        margin-top: 15px;
        margin-right: -170px;
        font-size: 20px;
        border: none;
        cursor: pointer;
        display: inline-block;
      }

      .dropdown p {
        margin-top: -20px;
        margin-right: -100px;
        color: #fff;
        font-style: italic;
        text-transform: uppercase;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
        margin-top: -10px;
        padding: 40px;
        margin-right: 50px;
        margin-left: -0px;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {background-color: #f1f1f1}
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      
      .dropdown:hover .dropbtn {
        background-color: #FE494B;
        box-shadow: 0px 2px 4px #0009;

      }

      
    }