body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    display: inline-block;
    width: 100%;
    height: 100vh;
    background-image: url("../images/bg.jpg");
    background-color: black;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

header img {
    display: inline-block;
    float: left;
    padding: 20px;
    width: 100px;
    /* position: fixed; */
    /* position: absolute; */
    /* margin-left: -600px; */
    margin-left: -10px;
    
}


header nav {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    float: right;
    /* position: fixed;
    margin-left: 700px; */
  }
  
  header nav li {
    display: inline-block;
    float: left;
    font-size: 20px;
    margin-top: 30px;
    padding: 15px;
  }

  header nav a {
    color: white;
    text-decoration: none;
  }

.container .about1 {
    display: inline-block;
    float: left;
    width: 20%;
    /* height: 460px; */
    width: 400px;
    background-color: lime;
    /* padding-bottom: 320px; */
    padding: 60px;
    transform: translateY(-40px);
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}


.container .about2 {
    display: inline-block;
    float: left;
    width: 30%;
    width: 400px;
    /* height: 420px;   */
    background-color: black;
    /* padding-bottom: 232px; */
    padding: 60px;
    transform: translateY(-40px);
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

.container .about3 {
    display: inline-block;
    float: left;
    /* jeigu du blokai, tai tada po 49% ploti */
    width: 20%;
    width: 400px;
    /* height: 420px;   */
    background-color: red;
    /* padding-bottom: 232px; */
    padding: 60px;
    /* translate reikia padaryti 0px */
    transform: translateY(-40px);
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

.container .about1 p {
    font-size: 15px;
}

.container .about2 p {
    font-size: 15px;
}


.container .about3 p {
    font-size: 15px;
}

.fa-facebook {
    text-decoration: none;
    color: white;
    background-color: #FE494B;
    border-radius: 50%;
    line-height: 20px;
    width: 40px;
    margin: 5px;
    padding: 10px;

}

.fa-twitter {
    text-decoration: none;
    color: white;
    background-color: #FE494B;
    border-radius: 50%;
    line-height: 20px;
    width: 40px;
    margin: 5px;
    padding: 10px;

}

.fa-linkedin {
    text-decoration: none;
    color: white;
    background-color: #FE494B;
    border-radius: 50%;
    line-height: 20px;
    width: 40px;
    margin: 5px;
    padding: 10px;

}


.fa-github {
    text-decoration: none;
    color: white;
    background-color: #FE494B;
    border-radius: 50%;
    line-height: 20px;
    width: 40px;
    margin: 5px;
    padding: 10px;

}

.fa-behance {
    text-decoration: none;
    color: white;
    background-color: #FE494B;
    border-radius: 50%;
    line-height: 20px;
    width: 40px;
    margin: 5px;
    padding: 10px;

}

/* .about .about-1 {
    display: inline-block;
    width: 50%;
    float: left;
    color: white; */
    /* --------------------- */
    /* height: 400px;
    width: 200px; */
/* } */

/* .about .about-2 {
    display: inline-block;
    width: 50%;
    float: right;
    color: white; */
    /* ----------------------- */
    /* height: 400px;
    width: 400px; */
   /* } */

.container {
        display: inline-block;
        width: 1200px;
        margin: 0 calc( ( 100% - 1200px) / 2);
        
}

.pirmas {
    background: black;
    height: 500px;
    margin-top: 40px;
}

.pirmas .container {
    /* background: blue; */
    /* width: 50%; */
    /* background-color: lime; */
    display: inline-block;
    margin-top: 60px;
    color: white;
}

.antras .container {
    display: inline-block;
    margin-top: 60px;
}

.trecias .container {
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 60px;
}

.container .left {
    display: inline-block;
    width: 50%;
    float: left;
}

.container .right {
    display: inline-block;
    width: 40%;
    float: right;
    margin-left: 10%;
}

.small-container {
    display: inline-block;
        width: 1000px;
        margin: 0 calc( ( 100% - 1000px) / 2);
        text-align: center;
}

h1 {
    padding-top: 100px;
    padding-bottom: 50px;
    color: white;
    font-style: italic;
}

 h3 {
    color: white;
}

.btn {
    color: white;
}
  

footer {
    display: inline-block;
    background-color: black;
    width: 100%;
    height: 150px;
    padding-bottom: 20px;
    text-align: center;
}

/* footer p {
    margin: 30px;
    color: white;
} */


footer img {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 50px;
    position: center bottom;
}

/* footer > .container:nth-child(1) {
    margin-bottom: 300px;
    position: relative;
} */

/* footer .fa-chevron-up {
    background-color: red;
    border-radius: 50%;
    color: white;
    position: fixed;
    /* top: -70px; */
    /* right: -100px; */
    /* top: -10px; */
    /* right: 70px; */
    /* margin-top: 1630px;
    padding: 15px;
    text-decoration: none;
    box-shadow: 0 1px 2px grey; */


/* }  */

footer .fa-chevron-up {
    background-color: #FE494B;
    border-radius: 50%;
    /* opacity: .3; */
    /* position:fixed; */
    position: absolute;
    margin-bottom: -1200px;
    bottom: 40px;
    right: 30px;
    margin-top: -50px;
    padding: 15px;
    color: #fff;
    cursor: none;
    cursor: pointer;
    z-index: 1000;
    text-decoration: none;
}

@media (max-width: 1300px) {
    .container {
        width: 900px;
        margin: 0 calc( ( 100% - 900px) / 2);
    }
        .container .about1 {
            width: calc(100% - 0px);
            /* margin-left: 5px;
            margin-right: 5px;  */
            transform: translateY(-50px);
            margin: 0 auto;
        }

        .container .about2 {
            width: calc(100% - 0px);
            /* margin-left: 5px;
            margin-right: 5px;  */
            transform: translateY(-40px);
            margin: 0 auto;
        }

        .container .about3 {
            width: calc(100% - 0px);
            /* margin-left: 5px;
            margin-right: 5px;  */
            transform: translateY(-40px);
            margin: 0 auto;
        }

    }   

    @media (max-width: 1000px) {

        .container {
            width: 700px;
            margin: 0 calc( (100% - 700px) / 2 );
        }
        .container > .left {
            width: 100%;
        }
        .container > .right {
            width: 100%;
            margin-left: 0;
            margin-top: 60px;
        }
       
        }
        
            @media (max-width: 800px) {
                .small-container {
                    width: 500px;
                    margin: 0 calc( (100% - 500px) / 2 );
                 
                }
                .container {
                    width: 500px;
                    margin: 0 calc( (100% - 500px) / 2 );
                }
              
        }


        @media (max-width: 600px) {
            .small-container {
                width: calc(100% - 40px);
                margin-left: 20px;
                margin-right: 20px;
                
            }
            .container {
                width: calc(100% - 40px);
                margin-left: 20px;
                margin-right: 20px;
            }

            header img {
                margin-left: -10px;
            }
           
                
              nav {
                  display: none;
              }
            
            section .pirmas {
                width: calc(100% - 40px);
                margin-left: 20px;
                margin-right: 20px; 
            }

            /* .about {
                padding-bottom: 250px;
                padding-left: 0px;
                padding-right: 0px;
            } */

            .container .about1 {
                width: calc(100% - 0px);
                /* margin-left: 5px;
                margin-right: 5px;  */
                transform: translateY(-50px);
                margin: 0 auto;
            }

            .container .about2 {
                width: calc(100% - 0px);
                /* margin-left: 5px;
                margin-right: 5px;  */
                transform: translateY(-40px);
                margin: 0 auto;
            }

            .container .about3 {
                width: calc(100% - 0px);
                /* margin-left: 5px;
                margin-right: 5px;  */
                transform: translateY(-40px);
                margin: 0 auto;
            }

            .container .about1 p {
                font-size: 10px;
            }

            .container .about2 p {
                font-size: 10px;
            }

            .container .about3 p {
                font-size: 10px;
            }

            footer .fa-chevron-up {
                display: none;
            }
            .fa-bars {
                color: #fff;
                /* padding: 16px; */
                margin-top: 15px;
                margin-right: -170px;
                font-size: 20px;
                border: none;
                cursor: pointer;
              }

              .dropdown p {
                margin-top: -20px;
                margin-right: -100px;
                color: #fff;
                font-style: italic;
                text-transform: uppercase;
              }
              
              .dropdown {
                position: relative;
                display: inline-block;
                margin-top: -10px;
                padding: 40px;
                margin-right: -10px;
              }
              
              .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 100px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
              }
              
              .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
              }
              
              .dropdown-content a:hover {background-color: #f1f1f1}
              
              .dropdown:hover .dropdown-content {
                display: block;
              }
              
              .dropdown:hover .dropbtn {
                background-color: #FE494B;
                box-shadow: 0px 2px 4px #0009;

              }
              @media (max-width: 325px) {
                .small-container {
                    width: calc(100% - 40px);
                    margin-left: 20px;
                    margin-right: 20px;
                    
                }
                footer {
                    height: 200px;
                }
            }
            @media (max-width: 325px) {
                .small-container {
                    width: calc(100% - 40px);
                    margin-left: 20px;
                    margin-right: 20px;
                    
                }
                footer {
                    height: 350px;
                }
            }
        }